numpy>=1.24.4,<2.0.0
fvcore
cloudpickle
omegaconf
scikit-learn
albumentations==0.4.6
shapely
imgaug==0.4.0
albucore
scikit-image
p_tqdm
tensorboard
timm
einops
opencv-python-headless==4.8.1.78
opencv-python==4.8.1.78